*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto San JP', sans-serif;
    line-height: 1.6;
    background-color: #fff
}

img {
    max-width: 2000%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.section {
    padding: 7em 0 ;
}
.container {
    width: 85%;
    max-width: 75em;
    margin: 0 auto;
}
.split {
display: flex;
gap: 1em;
flex-wrap: inherit, wrap;
justify-content: center;

&>* {
    flex-basis: 32.5%;
    min-width: ;: 15em;
}

}

.spacing>*+* {
    margin-top: var(--spacer, 2rem)
}

.btn {
    display:  inline-block;
    text-decoration: none;
    color: var(--clr-text, #fff);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    padding: .5em 1.25em;
    background: var(--clr-accent, blue);
    border-radius: .25em;
    transition:  
        transform 250ms ease-in-out,
        opacity 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity:  .9;
}

.primary-title {
    font-size: 10em;
    font-size: clamp(4rem, calc(5vw + 1rem), 5rem);
    line-height: 1;
    text-transform: uppercase;
}

.paragraph {
    font-size: medium;
    font-size: 2em;
}

.section-title {
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: #17353d;
    margin-bottom: 4rem;
}

.hero {
    color: white;
    text-align: center;
    padding: 17em 0;
    background-color: #222;

    @supports (background-blend-mode: multiply) {
        background: url(../images/Let\'s\ get\ you\ the\ pricing.png) no-repeat center center fixed ,
             radial-gradient(#444, #fff);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: cover;
        background-size: cover;
     }
  
    // background-size: 100%;
}

.policy__item {
    background: #fff;

    &.policy__item {
        display: block;
        position: relative;
        transform: scale(.85);
        transform: transform 250ms ease-in-out;
        text-decoration: none;
        color: #333;
        text-align: center;
        line-height: 1.5;

       
        &:hover,
        &:focus {
            transform: scale(1);
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            padding: 100% 100% 0 0;
            border-radius: 50%;
            background: #2193b0;
            z-index: -1;
        }

        .policy__details {
            opacity: 10;
            text-shadow: 0 0 2em rgba( green, blue, alpha);
            
            }


       
    }

    &.policy__details {
        opacity: 0;
        transition: opacity 250ms linear;

        span {
            display: block;
            font-weight: 100;
            font-size: 2.5rem;
        
        }
        .paragraph {
            font-size: 2rem;
            background: #2193b0;
        }
    }
}

.policy__title {
    background: radial-gradient(var(--clr-inner, rgb(193, 197, 185)), var(--clr-outer, #fff));
    border-radius: 1em;
    margin-bottom: 4em;
    display: inline-table;
    text-decoration: none;
    color: var(--clr-text, #eee);
    font-weight: 700;
    text-transform: lowercase;
    font-size: 25rem;
    padding: .1em 1em;
    border-radius: .25em;
    transition:  
        transform 250ms ease-in-out,
        opacity 25ms linear;

        &.policy__title {
            font-size: 4rem;
            line-height: 1.1;
            color: #fff;
            text-shadow: 0 0 .2em rgba(#000, .2em);
        }
}

.marine-insurance {
    --clr-inner: #000;
    --clr-outer: rgba(10, 11, 11, 0.328);
    --clr-accent: limegreen;
}

.motor-insurance {
    --clr-inner: #000;
    --clr-outer: rgba(10, 11, 11, 0.328);
    --clr-accent: limegreen;
}
.house-insurance {
    --clr-inner: #000;
    --clr-outer: rgba(10, 11, 11, 0.328);
    --clr-accent: limegreen;
}